/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* VARIABLES */
:root {
    /* Colors */
    --color-primary-bg: #efefef;
    --color-secondary-bg: #d1d1d1;
    --color-light-blue: #9aabd8;
    --color-black: #080001;
    --color-light-gray: #eeeeee;
    --color-pink: #f94f6d;
    --color-dark-blue: #1b244a;

    /* Fonts */
    --font-primary: "Verdana", sans-serif;
    --font-timer: "Cursed Timer ULiL", sans-serif;

    /* Sizes */
    --font-size-xl: 6rem;
    --font-size-lg: 5rem;
    --font-size-md: 4rem;
    --font-size-base: 3rem;
    --font-size-sm: 2rem;
    --font-size-xs: 1.5rem;

    /* Shadows */
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 16px rgba(0, 0, 0, 0.15);
}

/* GLOBAL STYLES */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: var(--font-primary);
    line-height: 1.5;
    background-color: var(--color-primary-bg);
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

/* ----- TYPOGRAPHY ----- */

h1,
.score,
.points-controls,
.game-clock,
.clock-controls,
.win-message {
    font-family: var(--font-timer);
}

h1,
h2,
h3 {
    text-shadow: var(--text-shadow);
}

h1,
h3 {
    font-size: var(--font-size-base);
}

h2 {
    font-size: var(--font-size-xs);
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: var(--color-light-gray);
}

.clock-section h3 {
    font-size: var(--font-size-sm);
}

.score,
.game-clock,
.win-message {
    color: var(--color-pink);
}

.points-btn,
.clock-btn {
    color: var(--color-light-blue);
}

/* Individual font sizes */
.score {
    font-size: var(--font-size-xl);
}
.points-btn {
    font-size: var(--font-size-xs);
}
.game-clock {
    font-size: var(--font-size-md);
}
.clock-btn {
    font-size: var(--font-size-sm);
}
.win-message {
    font-size: var(--font-size-lg);
}

/* ----- HEADER ----- */

header {
    padding: 1.75em 0;
    background-color: var(--color-secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----- MAIN ----- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 0 auto;
    padding: 4em 8em;
    background-color: var(--color-dark-blue);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 16px rgba(0, 0, 0, 0.15);
}

.scoreboard-wrapper {
    display: flex;
    justify-content: center;
    gap: 8em;
}

.team-scoreboard,
.clock-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
}

.score {
    width: 2.25em;
    background-color: var(--color-black);
}

.points-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.points-btn,
.clock-btn {
    cursor: pointer;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
    transition: background-color 0.3s ease, color 0.3s ease;
}

.points-btn {
    height: 2.5em;
    width: 2.5em;
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-light-blue);
    border-radius: 5px;
}

/* Hover and Active States */
.points-btn:hover,
.clock-btn:hover {
    background-color: var(--color-light-blue);
    color: var(--color-dark-blue);
}

.points-btn:active,
.clock-btn:active {
    background-color: var(--color-pink);
    color: var(--color-dark-blue);
    transform: scale(0.95);
}

.points-btn:disabled,
.clock-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #888;
    box-shadow: none;
}

.points-btn:disabled:hover,
.clock-btn:disabled:hover,
.points-btn:disabled:active,
.clock-btn:disabled:active {
    background-color: #888;
    color: var(--color-light-blue);
    transform: none;
}

/* ----- CLOCK SECTION ----- */

.clock-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.game-clock {
    width: 2.5em;
    background-color: var(--color-black);
}

.clock-controls {
    display: flex;
    gap: 1.5em;
}

.clock-btn {
    padding: 0.25em 0.5em;
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-light-blue);
    border-radius: 5px;
}

/* ----- FOOTER ----- */
footer {
    padding: 2em 0;
    background-color: var(--color-secondary-bg);
}

/* ----- WIN MESSAGE ----- */

.win-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.win-message p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.25em 0.5em;
    border-radius: 10px;
}

.hidden {
    display: none;
}
