:root {
    --color-primary-bg: #efefef;
    --color-secondary-bg: #d1d1d1;
    --color-light-blue: #9aabd8;
    --color-black: #080001;
    --color-light-gray: #eeeeee;
    --color-pink: #f94f6d;
    --color-dark-blue: #1b244a;
    --font-primary: "Verdana", sans-serif;
    --font-timer: "Cursed Timer ULiL", sans-serif;
}

/* ----- GLOBAL STYLES ----- */

*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

* {
    margin: 0;
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
    font-family: var(--font-primary);
    line-height: 1.5;
    background-color: var(--color-primary-bg);
    -webkit-font-smoothing: antialiased;
}

/* ----- TYPOGRAPHY ----- */

h1,
.score,
.points-controls,
.game-clock,
.clock-btn {
    font-family: var(--font-timer);
}

h1,
h2,
h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: var(--color-light-gray);
    font-size: 3rem;
    font-weight: bold;
}

.clock-section h3 {
    font-size: 2em;
}

.score {
    color: var(--color-pink);
    font-size: 6rem;
}

.points-btn {
    color: var(--color-light-blue);
    font-size: 1.5rem;
}

.game-clock {
    color: var(--color-pink);
    font-size: 4rem;
}

.clock-btn {
    color: var(--color-light-blue);
    font-size: 2rem;
}

/* ----- HEADER ----- */

header {
    padding: 1.5rem 0;
    background-color: var(--color-secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ----- MAIN ----- */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 0 auto;
    padding: 4em 8em;
    background-color: var(--color-dark-blue);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
        0 8px 16px rgba(0, 0, 0, 0.15);
}

.scoreboard-wrapper {
    display: flex;
    justify-content: center;
    gap: 8em;
}

.team-scoreboard,
.clock-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
}

.score {
    width: 2.25em;
    background-color: var(--color-black);
}

.points-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.points-btn,
.clock-btn {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(0, 0, 0, 0.1) 100%
    );
}

.points-btn {
    height: 2.5em;
    width: 2.5em;
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-light-blue);
    border-radius: 5px;
}

/* ----- CLOCK SECTION ----- */

.clock-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.game-clock {
    width: 2.5em;
    background-color: var(--color-black);
}

.clock-controls {
    display: flex;
    gap: 1.5em;
}

.clock-btn {
    padding: 0.25em 0.5em;
    background-color: var(--color-dark-blue);
    border: 2px solid var(--color-light-blue);
    border-radius: 5px;
}

/* ----- FOOTER ----- */
footer {
    padding: 2em 0;
    background-color: var(--color-secondary-bg);
}
